27.10 AI в DevOps. Low-Code Automation n8n. Часть 1/Task1-1/Daily News Digest_ Summarize RSS Feeds with OllamaAI and Deliver to Telegram.json
{
  "name": "Daily News Digest: Summarize RSS Feeds with OllamaAI and Deliver to Telegram",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $today.minus({ days: 2 }) }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "810a8040-2bfc-4125-9c5d-273e089a857c",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1008,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "a9600807-9562-4ddc-a830-b18b81daffe4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        816,
        528
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "list",
          "value": "asst_7Miwcww78kuTtx5rVQ7m5Nnw",
          "cachedResultName": "Linkedin"
        },
        "prompt": "define",
        "text": "=I've received news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles.\n1.{{ $json.data[0].title }}{{ $json.data[0].conteudo }}\n2.{{ $json.data[1].title }}{{ $json.data[1].conteudo }}\n3.{{ $json.data[2].title }}{{ $json.data[2].conteudo }}\n4.{{ $json.data[3].title }}{{ $json.data[3].conteudo }}\n5.{{ $json.data[4].title }}{{ $json.data[4].conteudo }}\n6.{{ $json.data[5].title }}{{ $json.data[5].conteudo }}\n7.{{ $json.data[6].title }}{{ $json.data[6].conteudo }}\n8.{{ $json.data[7].title }}{{ $json.data[7].conteudo }}\n9.{{ $json.data[8].title }}{{ $json.data[8].conteudo }}\n10.{{ $json.data[9].title }}{{ $json.data[9].conteudo }}",
        "options": {}
      },
      "id": "39c8f94b-27ba-4676-9197-e87a493bcae6",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1488,
        1072
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "2e096826-70ee-433c-b59b-477eec5c3905",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        1216,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, pubDate, conteudo",
        "options": {}
      },
      "id": "2910734f-73c3-45c5-9470-5a08868cd66e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1408,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "fda99f10-0a33-49f3-a46b-37d61567e851",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        32,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "1b0fa8c7-bfd8-4267-b9ac-eb3c90b2160d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2160,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About Limit\nlimits the analysis to the 10 most recent articles"
      },
      "id": "08cf9756-8407-4b9f-826d-ce21272de911",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About RSS\nYou can add how many RSS you want"
      },
      "id": "a2e2bf11-d56a-470f-b183-751ff5a2d7f9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "yoururlapi.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=your phone number"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90ea767f-aa1f-4475-8378-85f9b34487eb",
      "name": "Send resum to  Whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1888,
        1104
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## About Resum\nyou can send to your whatsapp api, or email, drive..."
      },
      "id": "55a91be7-2fe8-45ea-9ac5-51e90a9bb2c9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## About Trgger\nSet trigger how you wish"
      },
      "id": "16acc038-b6f3-4a7d-a2d9-415c4287532b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## System message (change if you want)\nI've received 10 news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles."
      },
      "id": "47783f2d-e603-4325-9031-09d3eefe9fcd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://kubernetes.io/feed.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "a747f665-ff17-4972-bb40-28c8251520dd",
      "name": "kubernetes.io",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        240
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://developer.nvidia.com/blog/feed/",
        "options": {}
      },
      "id": "ce492fd5-c8f9-4074-a080-56a55fc5074d",
      "name": "developer.nvidia.com",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        464
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://stackoverflow.com/feeds/tag?tagnames=kubernetes&sort=newest",
        "options": {}
      },
      "id": "1418186b-ee9a-480b-93e6-6483014a3ddf",
      "name": "stackoverflow.com",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.cncf.io/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "31da3f86-a150-4cd4-83bd-57bcb348f7c3",
      "name": "www.cncf.io",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        368,
        880
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e2f2364-a0a0-4a93-99ec-d1c477c7e6bc",
      "name": "Edit Fields Kuber",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffe9e174-749f-4864-8402-629e5a850961",
      "name": "Edit Fields Nvidia",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "bae1b890-716b-442c-8714-b4ece09063d7",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22d05f1c-7c65-4226-b842-e3a357994615",
      "name": "Edit Fields stackoverflow",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "conteudo",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5ebcfd94-fa94-46cb-b4ff-a487af4520c2",
      "name": "Edit Fields cncf.io",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I've received news articles via RSS. Please analyze them and provide a concise summary of the top 3 to 5 main highlights. My goal is to get a quick overview of what's most relevant in these articles.\n1.{{ $json.data[0].title }}{{ $json.data[0].conteudo }}\n2.{{ $json.data[1].title }}{{ $json.data[1].conteudo }}\n3.{{ $json.data[2].title }}{{ $json.data[2].conteudo }}\n4.{{ $json.data[3].title }}{{ $json.data[3].conteudo }}\n5.{{ $json.data[4].title }}{{ $json.data[4].conteudo }}\n6.{{ $json.data[5].title }}{{ $json.data[5].conteudo }}\n7.{{ $json.data[6].title }}{{ $json.data[6].conteudo }}\n8.{{ $json.data[7].title }}{{ $json.data[7].conteudo }}\n9.{{ $json.data[8].title }}{{ $json.data[8].conteudo }}\n10.{{ $json.data[9].title }}{{ $json.data[9].conteudo }}\n\nИспользуй ТОЛЬКО эту разметку:\n- **текст** - жирный (двойные звёздочки)\n- __текст__ - курсив (двойное подчёркивание)\n- `текст` - моноширинный (обратные кавычки) для кода\n- [текст](URL) - ссылки\n- ~~текст~~ - зачёркнутый\n\nФормат:\n\n**📰 САММАРИ НОВОСТЕЙ**\n\n**1\\\\. Название новости**\n\nОписание новости \\\\(2\\\\-3 предложения\\\\)\\\\. Технические термины: `istio`, `datadog`\\\\.\n\n[Читать далее](URL)\n\n━━━━━━━━━━━━━━━━━━━━\n\n**2\\\\. Следующая новость**\n\\\\.\\\\.\\\\.\n\nИ в конце выдать текст на руссом языке.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1616,
        544
      ],
      "id": "c7dfdb8b-9081-4e11-9ea3-83fa98f15157",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1488,
        752
      ],
      "id": "81aa1e31-b50c-4d26-b6c9-ec788d04cf03",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "qzqL9M6pVPu9JDRT",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "207708913",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        544
      ],
      "id": "3205470a-5cb9-4e23-9b8d-175a0f96654d",
      "name": "Send a text message",
      "webhookId": "6e300547-87cc-46a4-8398-be161120c22c",
      "credentials": {
        "telegramApi": {
          "id": "yEZ29UQTCT7zSQyt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "kubernetes.io",
            "type": "main",
            "index": 0
          },
          {
            "node": "developer.nvidia.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "stackoverflow.com",
            "type": "main",
            "index": 0
          },
          {
            "node": "www.cncf.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send resum to  Whatsapp": {
      "main": [
        []
      ]
    },
    "kubernetes.io": {
      "main": [
        [
          {
            "node": "Edit Fields Kuber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "developer.nvidia.com": {
      "main": [
        [
          {
            "node": "Edit Fields Nvidia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stackoverflow.com": {
      "main": [
        [
          {
            "node": "Edit Fields stackoverflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "www.cncf.io": {
      "main": [
        [
          {
            "node": "Edit Fields cncf.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Kuber": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Nvidia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields stackoverflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields cncf.io": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7ffc3c0-50c3-464d-891f-7e2dfeb6b9f1",
  "meta": {
    "templateId": "4709",
    "instanceId": "f964065ac9ea69072d01b5e91d627f6f04ed8f12c8354d0bb221932e3f210f1e"
  },
  "id": "6sEW5VmUrKcRppWE",
  "tags": []
}