30.10 AI в DevOps. Low-Code Automation n8n. Часть 2/Task2/Slurm homework 5.2 - 7.2.json
{
  "name": "Slurm homework 5.2 - 7.2-qwen2.5",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are Frodo, DevOps engineer. Task: ensure http://kropalik.ru:8090/ is running.\n\nEXECUTE THESE STEPS IN ORDER:\n\n1. DOCKER_TOOL: docker ps -a | grep nginx-website-1\n2. DOCKER_TOOL: docker inspect nginx-website-1 --format='{{.State.ExitCode}}'\n3. DOCKER_TOOL: docker logs nginx-website-1 --tail 10\n4. DOCKER_TOOL: docker start nginx-website-1\n5. Wait 2 seconds (just continue to next step)\n6. Visit_Website to check if \"SYSTEM ONLINE\" appears\n7. Return JSON: {\"website_up\": boolean, \"message\": \"container status, exit code, log snippets, website status\"}\n\nIMPORTANT:\n- Start with Docker commands, NOT with website check\n- Step 4 (docker start) is MANDATORY - always execute it\n- Only after restart, check the website\n- If tool returns error - ignore it and continue\n- Return plain JSON only",
          "maxIterations": 15,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1280,
        -32
      ],
      "id": "bcd70f20-244c-4b40-8a8b-6bbc1029a7da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:120b-cloud",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1424,
        208
      ],
      "id": "2735d36f-0c57-4627-af9d-84b547477743",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "qzqL9M6pVPu9JDRT",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatid }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1280,
        208
      ],
      "id": "6a672edf-bb04-4223-8949-83781aab07b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://kropalik.ru:8090",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -880,
        224
      ],
      "id": "069b0dd6-ad93-4312-88b9-d235346c7d6d",
      "name": "Visit Website",
      "continueOnFail": true
    },
    {
      "parameters": {
        "description": "Execute Docker commands on the server. Use this to: 1) Check status: docker ps -a | grep nginx-website-1, 2) Get exit code: docker inspect nginx-website-1 --format='{{.State.ExitCode}}', 3) View logs: docker logs nginx-website-1 --tail 10, 4) Start container: docker start nginx-website-1. ALWAYS collect diagnostics (exit code + logs) BEFORE restarting container.",
        "workflowId": {
          "__rl": true,
          "value": "Q7WECaaLFsY4RWno",
          "mode": "list",
          "cachedResultUrl": "/workflow/Q7WECaaLFsY4RWno",
          "cachedResultName": "SSH_n8n_server"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "defaultMatch": false,
              "required": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1136,
        256
      ],
      "id": "a8c2774c-030e-46f2-9276-f9f5ec094ffe",
      "name": "DOCKER TOOL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        16
      ],
      "id": "a9d6e458-519a-4f1b-a0f2-5d32fa9fffe7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "826c5bdc-2058-4f82-9388-6fa2b4d45b41",
              "name": "prompt",
              "value": "Check if the website is up. Return ONLY JSON with fields: website_up (boolean) and message (string).",
              "type": "string"
            },
            {
              "id": "86af7314-4c5b-4b7a-af38-3e72185d5cc2",
              "name": "chatid",
              "value": "=frodo{{ $execution.id }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        16
      ],
      "id": "e4d4b113-4e06-44ef-9dce-22d7536fb157",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output and format for Telegram\nconst inputData = $input.all();\n\nconst results = [];\n\nfor (const item of inputData) {\n  let data = item.json.text || item.json.output || item.json;\n  \n  // If data is a string, try to parse it as JSON\n  if (typeof data === 'string') {\n    try {\n      data = JSON.parse(data);\n    } catch(e) {\n      // If parsing fails, send as is\n      results.push({ \n        json: { \n          telegram_message: data \n        }\n      });\n      continue;\n    }\n  }\n  \n  // Format message for Telegram\n  if (data && typeof data === 'object' && data.website_up !== undefined) {\n    const status = data.website_up ? '✅ UP' : '❌ DOWN';\n    const emoji = data.website_up ? '✅' : '❌';\n    \n    const message = `${emoji} WEBSITE MONITORING REPORT\\n\\n` +\n                   `Status: ${status}\\n` +\n                   `Time: ${new Date().toLocaleString('ru-RU')}\\n\\n` +\n                   `Details:\\n${data.message || 'No additional information'}`;\n    \n    results.push({\n      json: {\n        telegram_message: message,\n        website_up: data.website_up,\n        raw_message: data.message\n      }\n    });\n  } else {\n    // Fallback: send raw JSON\n    results.push({\n      json: {\n        telegram_message: JSON.stringify(data, null, 2)\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -32
      ],
      "id": "19f71ee7-1e6d-45c1-8db8-50c2880b8046",
      "name": "Format for Telegram"
    },
    {
      "parameters": {
        "chatId": "207708913",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -96
      ],
      "id": "98ca9629-c3c2-497f-9b7f-1e6f2f3288c6",
      "name": "Send a text message",
      "webhookId": "bc96025f-b6c4-425c-b611-2628473f2f23",
      "credentials": {
        "telegramApi": {
          "id": "yEZ29UQTCT7zSQyt",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Visit Website": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DOCKER TOOL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format for Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6b2b4d1-8638-438d-9abc-d6a1c30edfb8",
  "meta": {
    "instanceId": "f964065ac9ea69072d01b5e91d627f6f04ed8f12c8354d0bb221932e3f210f1e"
  },
  "id": "oJy4djrnMxnVNxOF",
  "tags": []
}